@import "../../assets/styles/Variables.scss";

.bg-changer {
   width: 100%;
   background-color: $bgColorSecondary;
   &::before {
    content: "";
    display: block;
    height: 5rem;
    width: 100%;
    background: linear-gradient(180deg,$bgColorPriority 20%, $bgColorSecondaryTransparent 80%);
   }
   &::after {
    content: "";
    display: block;
    height: 5rem;
    width: 100%;
    background: linear-gradient(0deg,$bgColorPriority 20%, $bgColorSecondaryTransparent 80%);
   }
}