.bg-changer {
   width: 100%;
   background-color: rgb(235, 240, 243); 
   &::before {
    content: "";
    display: block;
    height: 5rem;
    width: 100%;
    background: linear-gradient(180deg,white 20%,rgba(235, 240, 243,.8) 80%);
   }
   &::after {
    content: "";
    display: block;
    height: 5rem;
    width: 100%;
    background: linear-gradient(0deg,white 20%,rgba(235, 240, 243,.8) 80%);
   }
}