@import "../../assets/styles/Variables.scss";

.offer {
 width: 100%;
 padding: 4rem 0;
 @media (min-width: $newsBreakPointSmall) {
   padding: 4rem 10%;
 }
 &__section { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    overflow: hidden;
    @media (min-width: $newsBreakPointMedium) {
      flex-direction: row;
    }
    &__image {
      width: 100%;
      height: 300px;
      background-position: center;
      background-size: cover;
      @media (min-width: $newsBreakPointMedium) {
         width: 50%;
       }
    }
    &__desc {
       flex-direction: column;
       padding: 1.5rem;
       text-align: center;
       @media (min-width: $newsBreakPointMedium) {
         width: 50%;
       }
    }
 }
}