@import "../../assets/styles/Variables.scss";

.main {
  // background-color: aquamarine;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 75%;
  width: 100%;
  > section {
    position: relative;
    background-position: center;
    background-size: cover;
    // box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.8);
    > video {
      position: absolute;
      // top: 0;
      // left: 0;
      // right: 0;
      // bottom: 0;
      width: 100%;
      box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.8);
    }
  }
  &__section__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    color: white;
    @media (min-width: $newsBreakPointSmall) {
      flex-direction: row;
      padding: 0 10%;
    }
    &__desc {
      flex-direction: column;
      padding-bottom: 7rem;
      &__prev-title {
        font-size: 2.8rem;
        line-height: 2.5rem;
        // font-weight: 600;
        font-family: "Permanent Marker", cursive;
        text-align: center;
      }
      > h1 {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 900;
      }
      &__slider {
        display: flex;
        text-transform: uppercase;
        font-size: 1.7rem;
        // font-weight: 600;
        font-family: "Luckiest Guy", cursive;
        letter-spacing: 0.1rem;
        text-align: center;
        &--show {
          display: flex;
          // transform: translateX(0);
          // opacity: 1;
          // transition: transform 500ms cubic-bezier(0.9, 0, 0.1, 1) 0s;
        }
        &--hide {
          display: none;
          // transform: translateX(-100%);
          // opacity: 0;
        }
      }
    }
  }
}
