@import "../../assets/styles/Variables.scss";

.headline {
  font-size: 1.5rem;
  padding: 4rem 0;
  > section {
    flex-direction: column;
    > p {
      text-align: center;
      color: $mainFontColorThird;
    }
  }
  @media (min-width: $newsBreakPointSmall) {
    padding: 4rem 10%;
  }
}