@import "../../assets/styles/Variables.scss";

.headline {
  font-size: 1.5rem;
  padding: 4rem 0;
  > section {
    flex-direction: column;
    // > h2 {
    //   font-family: "Luckiest Guy", cursive;
    //   letter-spacing: 0.1rem;
    //   text-align: center;
    // }
    > p {
      color: rgba(0, 0, 0, 0.7);
    }
  }
  @media (min-width: $newsBreakPointSmall) {
    padding: 4rem 10%;
  }
}