// Colors
$bgColorPriority: rgb(255, 255, 255);
$bgColorSecondary: rgb(235, 240, 243);
$bgColorSecondaryTransparent: rgb(235, 240, 243, 0.8);
$mainFontColor: rgb(0, 0, 0);
$mainFontColorSecondary: rgb(255, 255, 255);
$mainFontColorThird: rgba(0, 0, 0, 0.7);

// Fonts
$mainFont: "Open Sans", "Arial", "Helvetica", sans-serif;
$mainTitleFont: "Luckiest Guy", "Open Sans", "Arial", "Helvetica", cursive;
$mainPrevTitleFont: "Permanent Marker", "Open Sans", "Arial", "Helvetica", cursive;

// Buttons colors
$btnColorPrimary: rgb(255, 255, 255, 0.6);
$btnColorPrimaryHover: rgb(255, 255, 255, 1);

// Slider colors
$starsColor: rgb(0, 217, 255);
$circleBgColor: rgba(128, 128, 128, 0.6);

// NewsBreakPoint
$newsBreakPointSmall: 615px;
$newsBreakPointMedium: 993px;
$newsBreakPointLarge: 1280px;

// Height Break Point
$heightBreakPointXSmall: 288px;
