@import "../../assets/styles/Variables.scss";

.benefits {
  width: 100%;
  padding: 3rem 0;
  @media (min-width: $newsBreakPointSmall) {
    padding: 3rem 10%;
  }
  > section {
    width: 100%;
    padding-inline: 1rem;
    opacity: 0;
    transform: translateY(20%);
    &.activeObs {
      opacity: 1;
      transform: translateY(0%);
      transition: all 1s;
    }
    > ul {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-items: flex-start;
      justify-content: space-evenly;
      > li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 170px;
        padding: 1rem;
        text-align: center;
        font-size: 0.8rem;
        @media (min-width: $newsBreakPointMedium) {
          font-size: 1rem;
          width: 250px;
        }
      }
    }
  }
}
